.menu-acco{
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 100%;
  width: 100%;
  &__list{
    display: flex;
  }
  &__item{
    display: flex;
    justify-content: flex-end;
  }
  &__link{
    position: relative;
    width:102px;
    height: 100%;
    &-milk{
      background: url(img/content/Menu_slide1.png)center center/ cover no-repeat;
    }
    &-fruit{
      background: url(img/content/Menu_slide2.png)center center/ cover no-repeat;
    }
    &-berries{
      background: url(img/content/Menu_slide3.png)center center/ cover no-repeat;
    }
    @include phone{
      width: rem(90px);
    }
  }
  &__name{
    position: absolute;
    left: 50%;
    bottom: rem(-19px);
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    white-space: nowrap;
    font-size: 48px;
  }
  &__text{
    &-container{
      padding: 30px 80px 0 40px;
      @include tablets{
        padding:30px 50px 0 30px;
      }
    }
    width: 0;
    overflow: hidden;
    background: rgba(51, 53, 55, 0.9);
    transition: 1s;
  }
}
.acco-menu-mobile{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}