.menu{
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 0 rem(10px);
  flex-wrap: wrap;
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: rem(7px);
  }
  &__item{
    margin-right: rem(28px);
    margin-bottom: rem(10px);
    &:last-child{
      margin-right: 0;
    }
  }
}