*{
  box-sizing: border-box;
}
html{
  height: 100%;
  font-size:$baseFontsSize ;
  @include tablets{
    font-size:$baseFontsSize - 2px;
  }
  @include phone{
    font-size:$baseFontsSize - 4px;
  }
}

body{
  font-family: "alegreya_sans", Arial, Helvetica, sans-serif;
  font-size: $baseFontsSize;
  line-height: 1.42;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  overflow-x: hidden;
  color: black;
  height: 100%;
  position: relative;

}

img{
  max-width: 100%;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

h1{
  font-size: rem(42px);
  font-weight: bold;
  text-transform: uppercase;
  @include phone{
    line-height: 1;
  }
}

h2{
  font-size: rem(40px);
  font-weight: bold;
  text-transform: uppercase;
}

h3{
  font-size: rem(32px);
  font-weight: bold;
  text-transform: uppercase;
}

h4{
  font-size: rem(20px);
  font-weight: bold;
}

input,button,textarea{
  outline: none;
  border: none;
}

input[type="submit"],
input[type="reset"]{
cursor: pointer;
}



.wrapper{
  margin: 0 auto;
  overflow: hidden;
  width:100%;
  min-height: 100%;
  display: flex;
  flex-direction:column;
}

.main-content{
  flex: 1;
}

.container{
  max-width: 95%;
  width:$containerWidth;
  margin: 0 auto;
  position: relative; 
}

.hero__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: url(../img/bg/Батончики.png) right center / 50% auto no-repeat;
  padding: rem(20px) 0 rem(50px); 
  @include tablets{
    background: none;
  }
}
