.feature{
  display: flex;
  &__icon{
    width: 2.875rem;
    height: 2.875rem;
    margin-right: 0.375rem;
    fill: $lightblue;
  }
  &__text{
    max-width: 4.75rem;
    font-size: 0.875rem;
  }
}

