.form{
  display: flex;
  @include tablets{
    flex-direction: column;
    padding: 0 15%;
  }
  @include phone{
    padding: 0;
  }
  &__col{
    flex: 1;
    margin-right: rem(26px);
    @include tablets{
      margin-right: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  &__row{
    display: flex;
    margin-bottom: rem(14px);
  }
  &__block{
    flex: 1;
    margin-right: rem(16px);
    &:last-child{
      margin-right: 0;
    }
  }
  &__input{
    width: 100%;
    height: rem(58px);
    border-radius: 4px;
    padding-left: rem(12px);
    border: none;
    @include tablets{
     height: rem(36px);
    }
    &:focus{
      border: 3px solid #DEE2BD;;
    }
  }
  &__textarea{
    height: rem(152px);
    @include tablets{
     height: rem(82px);
    }
  }
  &__controls{
    margin-top: rem(36px);
    margin-bottom: rem(48px);
    @include phone{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .form__row{
      margin-bottom: rem(18px);
    }
  }
  &-btn{
    @include tablets{
      display: flex;
      justify-content: center;
   }
  }
}