.review__wrapper{
  background: #F8FAF9 url(../../img/bg/review-bg.png) right top 13% no-repeat;
  padding: 2.625rem 2.25rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  @include tablets{
    padding: 2.5rem 1.5rem 0;
    background: #F8FAF9 url(../../img/bg/review-bg.png) right top no-repeat;
  }
  &::after{
    content: "";
    width: 5.125rem;
    height: 5.125rem;
    border-radius: 50%;
    background: $white;
    position: absolute;
    top: -3.75rem;
    left: 50%;
    transform: translateX(-50%);
  }
}