.review{
  display: flex;
  position: relative;
  &__item{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    @include tablets{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &-active{
      opacity: 1;
      position: static;
    }
  }
  &__avatar{
    width: rem(254px);
    height: rem(264px);
    margin-right: rem(40px);
    @include tablets{
      margin-right: 0;
      width: rem(130px);
      height: rem(130px);
    }
  }
  &__img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  &__text{
    flex: 1;
    padding: rem(24px) 0;
    max-width: rem(436px);
    @include tablets{
      max-width: 100%;
    }
    @include phone{ 
      padding: rem(24px) 0;
    }
  }
  &__title{
    color: $black;
    margin-bottom: rem(12px);
  }
  &__desc{
    margin-bottom: rem(26px);
    @include tablets{
      margin-bottom: rem(26px);
    }
  }
  &__author{
    font-weight: bold;
    color: $black;
  }
}
 