.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  color:#666666;
  height: 100vh;
  min-height: 40.625rem;
}

.section-hero{
  color: $white;
  background: #61C4D9 url(../../img/bg/узор1.png) right bottom no-repeat;
  position: relative;
  @include tablets{
    background: #61C4D9 url(../../img/bg/узор1.png) right center /70% auto  no-repeat;
  }
  @include phone{
    background: #61C4D9 url(../../img/bg/узор1.png) right top 24% /70% auto  no-repeat;
  }
  &:before{
    position: absolute;
    content: url(../../img/icons/Лист.png);
    bottom: -2.5rem;
    left: 2%;
    @include tablets{
      display: none;
    }
  }
  &::after{
    position: absolute;
    content: "";
    background: url(../../img/icons/comp.png) center center/ 100% auto no-repeat;
    width: 32.5rem;
    height: 40.25rem;
    bottom: -2.5rem;
    right: 0;
    @include tablets{
      background: url(../../img/icons/comp.png) center center/71% auto no-repeat;
    bottom: 18.5rem;
    right: 4rem;
    }
    @include phone {
      background: url(../../img/icons/comp.png) center center/60% auto no-repeat;
      bottom: 16.5rem;
      right: -6rem;
    }
  }
}

.section__headline{
  background: url(../../img/icons/узор-лист1.png) left center no-repeat;
  position: relative;
  @include tablets{
    background:url(../../img/icons/узор-лист1.png) left top 15% no-repeat;
  }
  @include phone{
    background:none;
  }
  &:after{
    content: url(../../img/icons/малина1.png);
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    @include tablets{
      bottom: -5.5rem;
    }
    @include phone{
      display: none;
    }
  }
}

.section__title{
  text-align: center;
  margin-bottom: 1.875rem;
  color: $black;
  
}

.section-reviews{
  position: relative;
  background: url(../../img/icons/review-berry2.png) right top no-repeat;
  &::before{
    content: "";
    background:url(../../img/icons/review-bg1.png)right bottom no-repeat;
    width: 6.25rem;
    height: 20rem;
    position: absolute;
    bottom: -9.75rem;
    left: 0;
  }
  &::after{
    content: "";
    background:url(../../img/icons/review-berry.png) right bottom no-repeat;
    width: 8.5rem;
    height: 12rem;
    position: absolute;
    bottom: -4.5rem;
    left: 0;
  }
}

.section-form{
  background: 
  url(../../img/icons/berry-form.png) left 5% bottom 10%  no-repeat,
  url(../../img/icons/laef-form.png) right 5% bottom 10%  no-repeat,
  url(../../img/bg/form-bg.png) center center / cover no-repeat;
  color: $darkgreen;
  @include tablets{
    background:url(../../img/bg/form-bg.png) center center /cover no-repeat ;
  }
  @include phone{
    background-image:url(../../img/bg/form-bg.png) center center /cover no-repeat ;
  }
  .section__title{
    color: $darkgreen;
    margin-bottom: 3.75rem;
    @include tablets{
      margin-bottom: 2rem;
       
    }
  }
}




.section-map{
  position: relative;
  background: url(../../img/bg/map.png) center center /cover no-repeat;
}

