.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  color:#666666;
  height: 100vh;
  min-height: rem(650px);
}

.section__title{
  text-align: center;
  margin-bottom: rem(30px);
  color: $black;
}

.title__team{
  margin-bottom: rem(50px);
}

.section-hero{
  color: $white;
  background: #61C4D9 url(../img/bg/узор1.png) right bottom no-repeat;
  position: relative;
  @include tablets{
    background-position: right top 27%;
  }
  &:before{
    position: absolute;
    content: url(../img/icons/Лист.png);
    bottom: rem(-40px);
    left: 2%;
    @include tablets{
      display: none;
    }
  }
  &::after{
    position: absolute;
    content: "";
    background: url(../img/icons/comp.png) center center/ 100% auto no-repeat;
    width: rem(520px);
    height: rem(644px);
    bottom: rem(-20px);
    right: 0;
    @include tablets{
      display: none;
    }
  }
}

.section__headline{
  background: url(../img/icons/узор-лист1.png) left center no-repeat;
  position: relative;
  z-index: 1;
  @include tablets{
    background-position: left top 20%;
  }
  @include phone{
  background: none;
  }
  &:after{
    content: url(../img/icons/малина1.png);
    position: absolute;
    bottom: rem(-104px);
    left: 0;
    @include phone{
      display: none;
      }
  }
}

.section__products{
  background: #F8FAF9;
  position: relative;
  &::before{
    content: "";
    background: url(../img/icons/leaf-products.png) right bottom / contain no-repeat;
    position: absolute;
    width: rem(196px);
    height: rem(450px);
    bottom: rem(-150px);
    right: 0;
    @include tablets{
      width: rem(150px);
      height: rem(350px);
    }
    @include phone{
      display: none;
    }
  }
  &:after{
    content: "";
    background: url(../img/icons/berry__products.png)right bottom / contain no-repeat;
    position: absolute;
    width: rem(130px);
    height: rem(112px);
    bottom: rem(-50px);
    right: 0;
    @include tablets{
      width: rem(104px);
      height: rem(86px);
    }
    @include phone{
      display: none;
    }
  }
}

.section__team{
  position: relative;
  z-index: 2;
  &::after{
    content: "";
    display: block;
    position: absolute;
    background: url(../img/icons/Raspberry.png) bottom left/ contain no-repeat;
    width: rem(104px);
    height: rem(104px);
    bottom: rem(-50px);
    left: rem(30px);
  }
}

.section__menu{
  background: url(../img/bg/Menu_bg.png) center center/ cover no-repeat;
  color: $white;
  position: relative;
}

.menu__title{
  position: absolute;
  color: $white;
  top: rem(120px);
  left: rem(80px);
}


.section-reviews{
  position: relative;
  background: url(../img/icons/review-berry2.png) right top/ contain no-repeat;
  background-size: rem(136px) rem(78px) ;
  &::before{
    content: "";
    background:url(../img/icons/review-bg1.png)right bottom/ contain no-repeat;
    width: rem(100px);
    height: rem(320px);
    position: absolute;
    bottom: rem(-156px);
    left: 0;
    @include phone{
      width: rem(68px);
      height: rem(272px);
      bottom: rem(-108px);
    }
  }
  &::after{
    content: "";
    background:url(../img/icons/review-berry.png) right bottom / contain  no-repeat;
    width: rem(136px);
    height: rem(192px);
    position: absolute;
    bottom: rem(-72px);
    left: 0;
    @include phone{
      width: rem(88px);
       height: rem(160px); 
       bottom: rem(-56px); 
    }
  }
}

.section-form{
  background: 
  url(../img/icons/berry-form.png) left 5% bottom 10%  no-repeat,
  url(../img/icons/laef-form.png) right 5% bottom 10%  no-repeat,
  url(../img/bg/form-bg.png) center center / cover no-repeat;
  color: $darkgreen;
  @include tablets{
    background:url(../img/bg/form-bg.png) center center /cover no-repeat ;
  }
  @include phone{
    background-image:url(../img/bg/form-bg.png) center center /cover no-repeat ;
  }
  .section__title{
    color: $darkgreen;
    margin-bottom: rem(60px);
    @include tablets{
      margin-bottom: rem(32px);
    }
    @include phone{
      margin-bottom: 0;
    }
  }
}

.section-map{
  position: relative;
}

