@mixin icon__img{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
}

// .icon__img-leaf1{
//   background: url(../../img/icons/leaf1.png) center center no-repeat;
// }

@each $icons in (leaf1,leaf2,leaf3,berry1,berry2){
  .icon__img-#{$icons}{
    background: url(../../img/icons/#{$icons}.png) center center no-repeat;
    @include icon__img;
    
  }
} 