.headline{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3.125rem;
}

.headline__title{
  margin-bottom: 1.25rem;
}

.headline__subtitle{
  padding: 0 26%;
}