.menu{
  display: flex;
  align-items: center;
  &__list{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    margin-right: 27px;
    &:last-child{
      margin-right: 0;
    }
  }
}