.section{
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1;
  color:#666666;
  height: 100vh;
  min-height: 650px;
}

.section__headline{
  background: url(../../img/icons/узор-лист1.png) left center no-repeat;
  position: relative;
  &:after{
    content: url(../../img/icons/малина1.png);
    position: absolute;
    bottom: -7px;
    left: 0;
    }
}

.section__title{
  text-align: center;
  margin-bottom: 30px;
  color: $black;
}

.section-reviews{
  position: relative;
  &::before{
    content: url(../../img/icons/review-berry.png);
    background: url(../../img/icons/review-bg1.png)right bottom no-repeat;
    width: 100px;
    height: 320px;
    position: absolute;
    bottom: -50px;
    left: 0;
  }
  &::after{
    content: url(../../img/icons/review-berry2.png);
    position: absolute;
    top: 0;
    right: 0;
  }
}